# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/

# IDE
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/

# Local Vector Database
data/vector_db/